/* Generics */

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box
}

/* Utilities */

body {
    width: 1200px;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

.grey {
    color: lightslategray;
}

/* Content */

/* header */

.logo {
    width: 200px;
}

li {
    font-size: 20px;
    display: inline-block;
    vertical-align: bottom;
    line-height: 160px;
    margin-right: 10px;
}

/* main */

.jumbotron {
    width: 100%;
    margin-bottom: 30px;
}

.main-header {
    margin-bottom: 20px;
}

.bg-blue {
    min-height: 600px;
    background-color: rgb(30, 144, 255);
}

.side-lightblue {
    float: left;
    height: 400px;
    background-color: rgb(173, 216, 230);
    width: calc(25% - 20px);
}

.main-lightblue {
    float: left;
    height: 400px;
    background-color: rgb(173, 216, 230);
    width: 50%;
    margin: 0 20px 20px 20px;
}

/* footer */

footer {
    margin-top: 20px;
    height: 100px;
    background-color: rgb(139, 0, 139);
}