/* Generics */

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box
}

/* Utilities */

body {
    width: 1400px;
    font-family: 'Montserrat', sans-serif;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

.grey {
    color: lightslategray;
}

/* Content */

/* header */

.logo {
    width: 200px;
}

li {
    font-size: 20px;
    display: inline-block;
    vertical-align: bottom;
    line-height: 160px;
    margin-right: 10px;
}

/* main */

#spotlight {
    background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url(../img/banner.jpg);
    height: 700px;
    margin-bottom: 30px;
    background-size: cover;
    background-position: center;
/*     filter: brightness(70%); */
    border-radius: 15px;
    position: relative;
}

#text-inside {
    min-height: 100px;
    width: 600px;
    color: rgba(255, 255, 255);
    position: absolute;
    left: 50px;
    bottom: 100px;
}

h2 {
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 800;
}

.main-header {
    margin-bottom: 30px;
}

/* Immagine + Descrizione */

.img {
    min-height: 600px;
    background-color: transparent;
}

.box-side {
    float: left;
    height: 250px;
    width: calc(25% - 20px);
    background-color: transparent;
} 

.box-main {
    float: left;
    height: 250px;
    width: 50%;
    background-color: transparent;
    margin: 0 20px;
}

#img-left {
    height: 250px;
    background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ), 
    url(../img/img-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
}
#img-main {
    height: 250px;
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url(../img/banner-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
}

#img-right{
    height: 250px;
    background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url(../img/img-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
} 

.title-p {
    line-height: 50px;
    font-weight: bolder;
    color: black;
}

/* footer */

address {
    margin-top: 40px;
    font-style: normal;
    text-align: center;
    font-weight: bolder;
}

#hearts {
    color: red;
}